MONGODB_URI=mongodb://127.0.0.1:27017/keydrop
ENCRYPTION_KEY=replace_with_64_hex_characters

AWS_REGION=us-east-1
S3_BUCKET_NAME=your-private-keydrop-bucket
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key